{% extends 'base.html.twig' %}

{% block title %}Edit Grade{% endblock %}

{% block body %}
    <h1>Edit Grade</h1>

    {{ include('grade/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_grade_index', {'school_id': grade.school.id}) }}">back to list</a>
{% endblock %}
