<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>EduMentor - Inscription à la plateforme</title>
    </head>
    <body>
        Un formateur viens de vous inscrire sur la plateforme EduMentor ! <br>
        Veuillez suivre le lien suivant pour accéder à <a href="{{ url('student_register_first_step') }}">l'inscription étudiante</a>
    </body>
</html>