<turbo-stream action="append" target="messages">
    <template>
        <div id="{{ 'message_' ~ message.id }}" {{ message.createdBy }}>{{ message.content }} (#{{ message.id }})</div>
    </template>
</turbo-stream>