{% extends "base.html.twig" %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
<div>
    <h1>Désolé mais la ressource que vous chercher n'existe pas !</h1>
    <p>
        Si vous pensez que c'est une erreur, veuillez nous contacter à l'adresse mail <a href="mailto:contact@edumentor.fr">contact@edumentor.fr</a>
    </p>
    <p>
        Nous nous excusons pour le désagrément engrengé par cette anomalie.
    </p>
</div>
{% endblock %}