{% extends "base.html.twig" %}

{% block title %}Interdit{% endblock %}

{% block body %}
<div>
    <h1>Vous n'avez pas les droits pour accéder à cette ressource !</h1>
    <p>
        Si vous pensez que c'est une erreur, veuillez nous contacter à l'adresse mail <a href="mailto:contact@edumentor.fr">contact@edumentor.fr</a>
    </p>
    <p>
        Nous nous excusons pour le désagrément engrengé par cette anomalie.
    </p>
</div>
{% endblock %}