{% extends "base.html.twig" %}

{% block title %}Erreur interne{% endblock %}

{% block body %}
<div>
    <h1>EduMentor à rencontré une erreur interne !</h1>
    <p>
        Si cette erreur persiste, veuillez nous contacter à l'adresse mail <a href="mailto:contact@edumentor.fr">contact@edumentor.fr</a> 
        en nous précisant comment vous avez rencontré cette erreur ainsi que la date et heure où vous avez rencontré cette erreur !
    </p>
    <p>
        Nous nous excusons pour le désagrément engrengé par cette anomalie.
    </p>
</div>
{% endblock %}