<footer id="main-footer" class="p-2 mx-4 bg-white rounded-lg shadow md:flex md:items-center md:justify-center md:p-4 xl:p-6 dark:bg-gray-800">
    <ul class="flex flex-wrap items-center justify-center md:mb-0 gap-x-5 gap-y-1 text-center">
        <li><a href="#" class="text-sm font-normal text-gray-500 hover:underline dark:text-gray-400">Mentions légales</a></li>
        <li class="mt-0 text-sm font-normal text-gray-500 dark:text-gray-400">© 2024 <a href="https://www.sciences-u-lyon.fr/" class="hover:underline" target="_blank">Campus sciences U Lyon</a>. Tout droits réservés</li>
    </ul>
</footer>