{% extends 'base.html.twig' %}

{% block title %}New TrainingSession{% endblock %}

{% block body %}
    <h1>Create new TrainingSession</h1>

    {{ include('training_session/_form.html.twig') }}

    <a href="{{ path('app_training_session_index', {'idTraining': training.id, 'idInscription': inscription.id}) }}">back to list</a>
{% endblock %}
